<p class="confirmstyle">Confirmation</p>

    <div class="guitarimage">
    <img src="{{finalguiterimage[abc[0]]?.image_path}}" alt="image">
    </div>
    <div class="guitarimage">
        <p><b>Product Description:</b>{{finalguiterimage[abc]?.product_description}}</p>
        <p><b>Price/Item:</b>{{finalguiterimage[abc]?.price}}</p>
        <p><b>shipping_details:</b>{{finalguiterimage[abc]?.shipping_details}}</p>
         <p><b>stock_availability:</b>{{finalguiterimage[abc]?.stock_availability}}</p>
        <p><b>no_of_items:</b>{{finalguiterimage[abc]?.no_of_items}}</p>
        </div>
        <button routerLink="/" class="btn btn-primary home-btn">Go To Home</button>